POSTGRES_DB=tryton
POSTGRES_USER=tryton
POSTGRES_PASSWORD=tryton_secret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TRYTON_DB_NAME=tryton
TRYTON_ADMIN_PASSWORD=admin_secret
TRYTON_PORT=8000
TRYTON_CORS_ORIGIN=http://localhost:8001
