.env
nginx-server.conf

# Documentación local
ENTREVISTA_TECNICA.md
INCIDENCIAS.md
CREAR_MODULO.md
AGREGAR_CAMPO.md
README copy.md

__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/
*.log
postgres_data/
